absl_py==2.1.0
aws_secretsmanager_caching==1.1.1.5
boto3==1.34.28
botocore==1.34.29
Flask==3.0.2
Flask_Cors==4.0.0
Flask_Injector==0.15.0
Flask_Login==0.6.3
google_auth_oauthlib==1.2.0
jsonpickle==3.0.2
protobuf==3.6.1
python-dotenv==1.0.1
Requests==2.31.0
